<p id="notice"><%= notice %></p>

<h1>Listing Ns Groups</h1>

<table>
  <thead>
    <tr>
      <th>Duration</th>
      <th>Name</th>
      <th>Leader</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ns_groups.each do |ns_group| %>
      <tr>
        <td><%= ns_group.duration %></td>
        <td><%= ns_group.name %></td>
        <td><%= ns_group.leader %></td>
        <td><%= ns_group.site %></td>
        <td><%= link_to 'Show', ns_group %></td>
        <td><%= link_to 'Edit', edit_ns_group_path(ns_group) %></td>
        <td><%= link_to 'Destroy', ns_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ns group', new_ns_group_path %>
