<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @ns_group.duration %>
</p>

<p>
  <strong>GroupName:</strong>
  <%= @ns_group.groupname %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @ns_group.leader %>
</p>

<p>
  <strong>GroupSite:</strong>
  <%= @ns_group.groupsite %>
</p>
<p>
  <strong>Facility:</strong>
  <%= @ns_group.facility %>
</p>
<p>
  <strong>Updated-By:</strong>
  <%= @ns_group.updated_by %>
</p>

<%= link_to 'Edit', edit_ns_group_path(@ns_group) %> |
<%= link_to 'Back', ns_groups_path %>
