<!DOCTYPE html>
<html>

<head>
  <title>Inpatient1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= params[:controller] %>">
	<%= render 'layouts/header.html.erb' %>
	<% if policy(:static_pages).all_facilities? %>
		<input id="all-facilities" type="text" value="true" />
	<% else %>
		<input id="all-facilities" type="text" value="false" />
	<% end %>
	<input id="session-facility" value="<%= session[:facility] %>" />
	<input id="session-authen" value="<%= session[:authen] %>" />
	<input id="session-username" value="<%= session[:user_name] %>" />
	<%= yield %>

	<%= render 'layouts/footer.html.erb' %>
	<script>
		 $(function(){
			// Load the superfish horizontal navigation menu
			jQuery('ul.sf-menu').superfish();

			// // STYLE 		
			$('#divHeaderPageWrapper').addClass('header_page_wrapper')
			$('#layoutHeader').addClass('header')
			$('#layoutFig').addClass('float_left pad_3_sides')
			$('#layoutClear_break').addClass('clear_both');

			$('#divFooterPageWrapper').addClass('pad_3_sides')
			$('#layoutFooter').addClass('highest_level_blue_background')
			$('[id^=session], #all-facilities').hide()
			$('#inpatient')
				.css({'display': 'block'})
			
		});
	</script>
</body>
</html>
